<?xml version="1.0" encoding="iso-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>servlets.FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DbServlet</servlet-name>
    <servlet-class>servlets.DbServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPreferences</servlet-name>
    <servlet-class>servlets.GetPreferences</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>servlets.Checkout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdderServlet</servlet-name>
    <servlet-class>servlets.AdderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalServlet</servlet-name>
    <servlet-class>servlets.PersonalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Selection</servlet-name>
    <servlet-class>servlets.Selection</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowSum</servlet-name>
    <servlet-class>servlets.ShowSum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Weight</servlet-name>
    <servlet-class>servlets.Weight</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WeightX</servlet-name>
    <servlet-class>servlets.WeightX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DbServlet</servlet-name>
    <url-pattern>/DbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalServlet</servlet-name>
    <url-pattern>/PersonalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdderServlet</servlet-name>
    <url-pattern>/AdderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPreferences</servlet-name>
    <url-pattern>/GetPreferences</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Selection</servlet-name>
    <url-pattern>/Selection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowSum</servlet-name>
    <url-pattern>/ShowSum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Weight</servlet-name>
    <url-pattern>/Weight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeightX</servlet-name>
    <url-pattern>/WeightX</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
