*.au
*.ser
*.gif
*.png
*.cache
*.errors
*.class
*.dex
*.jar
*.txt
*.bak
*.html
*.dot
*.out
*.gz
*.log*
*docs*
Proxy/cached/**/*.*
**/walkmod.xml
!./AnnoProc.class
!Proxy/urls.txt
!NIOIntro/file/*put.txt
!FactoryMethod/bill.txt
!Networks/web.log
!Networks/echo.txt
